img{
    filter: grayscale(70%);
    transition: all .4s ease-in-out;
    align-items: center;
  }
  
img:hover{
    filter: grayscale(40%);
  }

p{
    line-height: 1.8;
}

@media screen and (max-width:1440px){
    img{
        width:max(30vw, 350px);
        height: max(30vw, 350px) !important;
        object-fit: cover;
    }

    .aboutTxt{
        width: 120% !important;
      }
}

@media screen and (max-width:1040px){
    img{
        width:max(30vw, 350px);
        height: max(30vw, 450px) !important;
        object-fit: cover; 
    }
  .aboutTxt{
    width: 130% !important;
  }
}

@media screen and (max-width:960px){
   

    img{
        width:max(27vw, 300px);
        height: max(27vw, 330px) !important;
        object-fit: cover; 
        
    }
}

@media screen and (max-width:860px){
    #about{
        position: relative;
    }

    #about img{
        position: absolute;
        top:-5%;
        right:10%;
        width:4rem;
        height:4rem !important;
        border-radius: 50%;
        border: 3px solid rgb(32, 233, 32);
        animation: borderAnimation infinite ease-in-out 4s;
    }

    @keyframes borderAnimation{
        0%{
            border: 4px solid rgb(32, 233, 32);
        }
        50%{
            border: 4px solid rgb(153, 32, 233);
        }
        100%{
            border: 4px solid rgb(32, 233, 32);
        }
    }

    .text{
        width: 60% !important;
        margin-left:-20%;
    }
}

@media screen and (max-width:550px){
    #about img{
        display: none;
    }

}