button{
    filter: drop-shadow(0 0 0.22rem #9466FE);
    padding: 1% 2%;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}


@media screen and (max-width:1300px) {
    #projects{
        margin-top: 35rem;
    }
}

@media screen and (max-width:800px) {
    #projects{
        margin-top: 50rem;
    }
}

@media screen and (max-width:480px){
    #projects{
        margin-top: 95rem;
    }
}
/**********************/
@media screen and (max-width:1150px) {
    .project img{
        width:max(45vw, 350px);
        height:max(9vh, 250px) !important;
        object-fit: cover;
        margin-bottom: 8%;
    }
}

@media screen and (max-width:700px) {
    .project{
        flex-direction: column !important;
    }
    .project img{
        width:max(45vw, 350px);
        height:max(9vh, 250px) !important;
        object-fit: cover;
        margin-bottom: 2%;
    }

    .box{
        margin-right:20% !important;
    }

    .lineBox{
        background-color:  #9466FE ;
        height: .3rem !important;
        width: 23rem;
        display: block;
        filter: drop-shadow(0 0 1.80px #9466FE);
        margin: 5% auto;
    }
   
}

@media screen and (max-width:450px) {
    .project img{
        width:max(45vw, 330px);
        height:max(9vh, 230px) !important;
    }

    .box{
        margin-right:25% !important;
    }

   
}

