@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
}

.techStack{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns:  24rem 24rem 24rem;
    grid-template-rows: 20rem;
    margin-left: 5.5%;
    z-index: -1 !important;
}


.item{
    
    background-color: #1e1521;
    width:12rem;
    height:12rem;
    text-align: center;
    filter: drop-shadow(0 0 0.2rem #9466FE);
}

.item h3, .item p{
    color:rgba(206, 203, 203, 0.89);
}

.item h3{
    font-weight: 700;
    font-size: 1.3rem;
}

.html, .js, .flutter, .react, .tailwind, .css{
    transition: all .3s ease-in-out;
    opacity: .8;
}
.html:hover, .js:hover, .flutter:hover, .react:hover, .tailwind:hover, .css:hover{
    transition: all .3s ease-in-out;
    opacity: 1;
}


/*************TECHSTACK  RESPONSIVE*************/
@media screen and (max-width:1320px) {
    .techStack{
        grid-template-columns:  18rem 18rem 18rem;
        grid-template-rows: 18rem;
       
    }
}

@media screen and (max-width:1049px) {
    .techStack{
        grid-template-columns:  15rem 15rem 15rem;
        grid-template-rows: 15rem;
    }
}

@media screen and (max-width:730px){
    .techStack{
        grid-template-columns:  15rem 15rem;
        grid-template-rows: 15rem 15rem;
    } 

    #skills{
        margin-top: 18%;
    }
}

@media screen and (min-width:800px) and (max-width:1064px){
  .techStack{
    margin-left: 2.8%;
  }
}

@media screen and (max-width:470px) {
    .techStack{
        grid-template-columns:  15rem;
        grid-template-rows:repeat(6, 15rem);
    } 

    .item{
        margin-left:-2%;
        width:13rem;
        height:13rem;
    }
    
}
/*******************************************/