@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
 
}

body{
  background: linear-gradient(-45deg, #3a2864, #151616, #362f46, #151616);
  background-size: 400% 400%;
  font-family: "Poppins", sans-serif;
  animation: gradient 15s ease infinite;
  scroll-behavior: smooth !important;
}

@keyframes gradient {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.menu{
  position: fixed !important;
  top:1%;
  left:50%;
  transform: translateX(-50%);
  gap: 50%;
  padding:1% 5%;
  background-color: #1d162eee;
  width:60%;
  z-index:-10;
  border-radius: 80px;
 
}
.logo{
  text-align: center;
  color:rgb(214, 214, 220);
  z-index: 30;
}

.letter{
  font-weight: 800;
  transition: all .5s ease-in-out;
  color:rgb(214, 214, 220);
  transform: translate(0,0);
  font-size: 1rem;
  z-index: 200;
}

.letter:hover{
  transform: translate(0,-.3rem);
  color:#9466FE;
}

main img{
  object-fit: cover;
}

.imgBanner{
  filter: grayscale(70%);
  border-radius: 50%;
  transition: all .4s ease-in-out;
}

.imgBanner:hover{
  filter: grayscale(40%);
}

@media screen and (max-width:1454px){
  .menu{
    width: 76%;
    height:4rem;
    gap:45%;
    position: relative;
  }

  .logo{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }

  .menuBurger{
    position: absolute;
    right:7%;
    top:50% !important;
    transform: translateY(-50%) !important;
  }
  .nav{
    padding-top: .1% !important;
  }

  .icon1, .icon2{
    left:3% !important;
  }
  
  .line{
    left:3.8% !important;
    z-index: -10 !important;
  }

 
  .banner{
   margin-top: 6% !important;
   gap: 1% !important;
  }
  .imgBanner{
    width:max(25vw, 280px);
    height:max(28vh, 310px) !important;
  }

  .bannerText p{
    font-size: 1.8rem !important;
  }

  .bannerText h2{
    font-size: 1.9rem;
  }

  .gradient{
    font-size: 1.6rem !important;
  }
}

@media screen and (min-width:1000px) {
  .menu{
    width: 76%;
    height:4rem;
    gap:45%;
    position: relative;
  }

  .logo{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
  }

  .nav{
    position: absolute;
    right:12%;
    top:50% !important;
    transform: translateY(-50%) !important;
  }
 
}

@media  screen and (max-width:850px) {
  .bannerText{
    margin-left: 5% !important;
    margin-right:-10%;
  }

  .banner img{
    display: none;
  }

  .icons{
    display: none !important;

  }
  
  .banner{
    background-image: url("https://i.etsystatic.com/18836924/r/il/9932f8/4807616307/il_570xN.4807616307_cjeo.jpg");
    background-size: cover ;
    height:350px;
    width:80%;
    margin:0 auto;
    filter: grayscale(70%);
    position: relative;
  }
  .banner{
    z-index: 10;
    margin-top: 14% !important;
    position: relative;
  } 

  .bannerText{
    background-color: rgba(58, 31, 80, 0.699);
    position: absolute;
    height:350px;
    width:100% !important;
    bottom:0;
    top:0; 
    right:0% !important;
    left:-5% !important;
    padding-top:calc(290px / 2 ) !important;
    
    
    
  }

  .bannerText p, .bannerText h2, .gradient{
    text-align: center;
    
  }

  .bannerText h2{
    color:rgb(185, 150, 250);
    filter: drop-shadow(0 0 0.40rem #9466FE);
   
  }

  .bannerText p{
    display: none;
  }
  .line{
    left:0 !important;
    bottom:-100% !important;
  }

  .icons{
    position: fixed !important;
    bottom:0;
    left:10%;
  }
  
  .icon1{
    bottom:-50% !important;
    left:-2% !important;
  }

  .icon2{
    bottom:-40% !important;
    left:-2% !important;
  }
}

@media screen and (max-width:600px){
 
  .banner{
    margin-top:25% !important;
  }
  .bannerText{
    display: block;
    padding-top:20%;
  }
  
  .bannerText h2{
    font-size: max(4vw, 20px);
    
  }

  .gradient{
    font-size: max(3.5vw, 18px) !important;
  }
}